<div>
    <ul class="flex">
        <li>
            <a routerLinkActive='text-[red]' class='text-[25px] mr-[15px] font-semibold' routerLink='/home'>home</a>
        </li>
        <li>
            <a routerLinkActive='text-[red]' class='text-[25px] mr-[15px] font-semibold' routerLink='/product'>product</a>
        </li>
        <li>
            <a routerLinkActive='text-[red]' class='text-[25px] mr-[15px] font-semibold' routerLink='/about'>about</a>
        </li>
        <li>
            <a routerLinkActive='text-[red]' class='text-[25px] mr-[15px] font-semibold' routerLink='/contact'>contact</a>
        </li>
    </ul>
</div>