<table class="table border-collapse border border-gray-300 ">
    <thead>
        <tr>
            <th scope="col" class="th-table">#</th>
            <th scope="col" class="th-table">name</th>
            <th scope="col" class="th-table">quantity</th>
            <th scope="col" class="th-table">price</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products ; let i = index">
            <td class="td-table">
                {{i+1}}
            </td>
            <td class="td-table">
                {{product.name | uppercase}}
            </td>
            <td class="td-table">
                {{product.price|currency:"VND":"symbol"}}
            </td>
            <td class="td-table">
                {{product.quantity}}
            </td>
        </tr>
    </tbody>
</table>



<form #aloForm="ngForm" (ngSubmit)="getValue(aloForm); aloForm.resetForm()">
    <input type="text" ngModel name="alo1" class="input-controll">
    <input type="text" ngModel name="alo2" class="input-controll">
    <button>submit</button>
</form>